body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff4f81;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

.test-options {
    padding: 100px 20px;
}

.test-option {
    margin: 30px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
